node_modules/
Ozon/
backups/

bot.db
bot.db-journal

team-info.xlsx
*.xlsx~
*.xls~
~$*.xlsx

skipped_models.log
uploaded_models.log
skipped_models - Copy.log
uploaded_models - Copy.log

Telegram Bot.png

session.txt
.env

